In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.neural_network import MLPRegressor,MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [2]:
df=pd.read_excel("Real estate valuation data set.xlsx")
df

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.666667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250000,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500000,6.5,90.45606,9,24.97433,121.54310,63.9

In [3]:
df.isna().sum()

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      414 non-null    int64
 1   X1 transaction date                     414 non-null    float64
 2   X2 house age                            414 non-null    float64
 3   X3 distance to the nearest MRT station  414 non-null    float64
 4   X4 number of convenience stores         414 non-null    int64
 5   X5 latitude                             414 non-null    float64
 6   X6 longitude                            414 non-null    float64
 7   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [5]:
df.drop(['X1 transaction date','No'],axis=1,inplace=True)

In [6]:
arr=df.to_numpy()

In [7]:
arr.shape

(414, 6)

In [8]:
X=arr[:,0:-1]
Y=arr[:,-1:]

In [9]:
X.shape

(414, 5)

In [10]:
Y=np.ravel(Y)

In [11]:
Y.shape

(414,)

In [12]:
XTrain,XTest,YTrain,YTest=train_test_split(X,Y,random_state=1)

In [13]:
# Instantiate the mlp regressor
NeuralNetwork=MLPRegressor(max_iter=300,hidden_layer_sizes=(100,100))

In [14]:
# fit the neural network
NeuralNetwork.fit(XTrain,YTrain)
NeuralNetwork_pred=NeuralNetwork.predict(XTest)
# compute the errors
print("MAE:",mean_absolute_error(YTest,NeuralNetwork_pred))
print("MSE:",mean_squared_error(YTest,NeuralNetwork_pred))

MAE: 4.863613870449507
MSE: 47.49556668651393